@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: #000;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
}
header{
    display: flex;
    padding: 92px 75px;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
header ul {
    display: flex;
    align-items: center;
    gap: 8px;
}
header a {
    font-family: Poppins, "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #7F7F7F;
}
header a.active {
    color: #000;
}
header a:hover {
    color: #000;
}
header svg {
    margin-left: 60px;
}
h1{
    font-size: 48px;
    line-height: 160%; /* 76.8px */
    letter-spacing: 1.44px;
    font-family: Poppins, "Noto Sans JP", sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 20px;
    letter-spacing: 0.8px;
}
h3 {
    text-align: center;
    font-size: 20px;
    line-height: 160%; /* 32px */
    letter-spacing: 0.8px;
}
h4 {
    font-family: Poppins, "Noto Sans JP", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 180%; /* 21.6px */
    letter-spacing: 0.36px;
}
footer {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
footer p {
    font-family: Poppins, "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #7F7F7F;
    font-size: 11px;
    line-height: 160%; /* 17.6px */
    letter-spacing: 0.33px;
}
img {
    width: 100%;
}


/* ============================================= */
/* Works ページ */
/* ============================================= */

.top-wrapper {
    display: flex;
    padding: 60px 75px;
}
.top-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.top-wrapper p {
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.42px;
    font-family: Poppins, "Noto Sans JP", sans-serif;
    font-weight: 300;
}
.top-wrapper a {
    color: #504E4E;
    font-size: 12px;
    letter-spacing: 0.48px;
}
.contact-labels {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.contact-label {
    justify-content: center;
    align-items: center;
}
.contact-label a {
    font-family: Poppins, "Noto Sans JP", sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 22px;
    border-radius: 999px;
    border: 1px solid #EBEAEA;
    gap: 6px;
    transition: all 0.2s ease;
    line-height: 100%;
}
.contact-label a:hover {
    border: 1px solid #504E4E;
    background-color: #504E4E;
    color: #fff;
}
.contact-label a img {
    transition: all 0.2s ease;
}
.contact-label a:hover .icon-x {
    content: url('./img/x-hover.svg');
}
.contact-label a:hover .icon-arrow {
    content: url('./img/arrow-hover.svg');
}
.contact-label a:hover .icon-mail {
    content: url('./img/mail-hover.svg');
}


.works-wrapper {
    display: flex;
    padding: 100px 0px 200px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}
.work-content {
    display: flex;
    width: 846px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.work-content-img {
    width: 846px;
    overflow: hidden;
    display: inline-block;
}
.work-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.work-content-img img:hover {
    transform: scale(1.05);
}
.work-content p {
    color: #504E4E;
    letter-spacing: 0.42px;
}
.work-content span {
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    border: 1px solid #EBEAEA;
    color: #504E4E;
    font-size: 12px;
    letter-spacing: 0.48px;
    line-height: 100%;
}
.work-content-labels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}



/* ============================================= */
/* About ページ */
/* ============================================= */

.about-wrapper {
    display: flex;
    padding: 100px 0px 200px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}
.about-image {
    display: flex;
    width: 845px;
    justify-content: center;
    align-items: center;
}
.about-introduce {
    display: flex;
    width: 404px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.about-introduce p {
    text-align: center;
    letter-spacing: 0.42px;
    line-height: 180%; /* 25.2px */
}
.about-introduce a {
    color: #504E4E;
    font-size: 12px;
    letter-spacing: 0.48px;
}
.about-section {
    display: flex;
    width: 404px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.about-section table {
    gap: 8px;
    align-self: stretch;
}
.about-section table th, td {
    line-height: 180%; /* 25.2px */
    letter-spacing: 0.42px;
    height: 25px;
}
.about-section table th {
    width: 120px;
    font-family: Poppins, "Noto Sans JP", sans-serif;
    font-weight: 300;
    letter-spacing: 0.36px;
}

/* ============================================= */
/* Works ページ - 詳細 */
/* ============================================= */

.work-wrapper {
    display: flex;
    padding: 100px 0px 200px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}
.work-section {
    display: flex;
    width: 404px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.work-overview {
    align-items: center;
}
.work-overview p {
    text-align: center;
}
.work-thumb {
    width: 846px;
}
.work-section p {
    text-align: center;
    letter-spacing: 0.42px;
    line-height: 180%;
}
.work-wrapper button a {
    display: flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid #EBEAEA;
    color: #504E4E;
    letter-spacing: 0.56px;
}
.work-section img {
    width: 625px;
}
.work-wrapper ul {
    width: 404px;
    display: flex;
    flex-direction: column;
}
.work-wrapper ul li {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 180%;
}


/* ============================================= */
/* フワッと画面遷移アニメーション */
/* ============================================= */

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
}
body {
    opacity: 0;
    transition: opacity 0.4s ease;
    will-change: opacity;
}
body.loaded {
    opacity: 1;
}

/* ============================================= */
/* レスポンシブ
/* ============================================= */

@media (max-width: 960px) {
    header{
        padding: 92px 0px;
        justify-content: center;
    }
    header ul {
        width: 90%;
        justify-content: flex-end;
    }
    header svg {
        margin-left: 24px;
    }
    .top-wrapper {
        padding: 60px 0px;
        justify-content: center;
        align-items: center;
    }
    .top-inner {
        width: 90%;
    }
    .work-content {
        width: 90%;
    }
    .work-content {
        display: flex;
        width: 90%;
    }
    .work-content-img {
        width: 100%;
        overflow: hidden;
        display: inline-block;
    }
    .about-image {
        width: 90%;
    }
    .work-thumb {
        width: 90%;
    }
}

@media (max-width: 640px) {
    header{
        padding: 48px 0px;
        justify-content: center;
    }
    .works-wrapper {
        padding: 40px 0px 80px 0px;
    }
    .about-wrapper {
        padding: 60px 0px 120px 0px;
    }
    .about-introduce {
        width: 90%;
    }
    .about-section {
        width: 75%;
    }
    .work-wrapper {
        padding: 60px 0px 120px 0px;
    }
    .work-section {
        width: 90%;
    }
    .work-section img {
        width: 100%;
    }
    .work-content span {
        padding: 8px 16px;
    }
    .work-wrapper button a {
        padding: 8px 22px;
    }
}
@media (max-width: 440px) {
    .about-section {
        width: 90%;
    }

}